body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15rem 1rem 15rem;
}

i {
  font-size: 1.5rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.fa-instagram {
  font-size: 1.8rem;
  border-right: 1px solid black;
}

.header_left h3 {
  display: inline;
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  font-style: italic;
  padding-left: 1rem;
}

hr {
  margin: 0;
}

main {
  background-color: #efefef;
  height: 100vh;
}

.intro div {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

.pic {
  border-radius: 100%;
  width: 160px;
  height: 160px;
  margin-right: 5vw;
}

.intro {
  margin-bottom: 2rem;
}

.profile h1 {
  display: inline;
  margin-right: 1rem;
}

.num {
  display: flex;
}

.num p {
  margin-right: 1rem;
}

.story {
  display: flex;
  padding: 3rem 20rem 3rem 20rem;
  margin: auto;
  width: 40%;
}

.story div {
  margin-right: 5rem;
  text-align: center;
}

.story img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.body_text {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 40%;
  padding-top: 2rem;
  border-top: 1px solid rgb(197, 197, 197);
}

.records img {
  width: 300px;
  height: 300px;
}

.records {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: repeat(3, 300px);
  grid-gap: 1rem;
  margin: auto;
  width: 40%;
  justify-content: center;
  padding: 1rem 10rem 1rem 10rem;
}

@media (max-width: 1024px) {
  .header_middle {
    display: none;
  }
}
